.btn{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: $base-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 50px;
  border-radius: 10px;

  &--fluid{
    width: 100%;
  }

  &--blue{
    background: $blue;
    border: 1px solid $blue;
  }

  &--orange{
    background: $orange;
    border: 1px solid $orange;
  }

  &--transparent{
    background: transparent;
    border: 1px solid #fff;
    padding: 30px 46px;
  }

  &--green{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    background: $green;
    padding: 18px 25px;
    border-radius: 5px;
    border: 0;
  }

  &--bordered {
    padding-top: 27px;
    padding-bottom: 27px;
    color: #a3a3a3;
    background-color: transparent;
    border: 1px solid $bb;
  }

  &--gray {
    color: rgba(0,0,0,.4);
    background-color: #e5e5e5;
  }

  &--white {
    padding: 20px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
  }

  &--show-more {
    width: 100%;
    line-height: 30px;
  }
}
