.ico-arr-close, .ico-arr-enfold, .ico-arr-filters, .ico-arr-flag-blue, .ico-arr-link-prev, .ico-arr-link, .ico-arr-next, .ico-arr-open-white, .ico-arr-open, .ico-arr-prev, .ico-arr-right, .ico-arr-select, .ico-cart, .ico-check-gray, .ico-check, .ico-close-blue, .ico-close-white, .ico-close, .ico-fb, .ico-gear--current, .ico-gear, .ico-gift, .ico-list-menu-current, .ico-list-menu, .ico-mailru, .ico-phone, .ico-pin-menu--current, .ico-pin-menu, .ico-pin-search, .ico-pin-small, .ico-reply, .ico-search, .ico-sms-timer, .ico-time, .ico-user--current, .ico-user, .ico-vk{
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-size: 220px 330px;
}

.ico-arr-close{
	background-position: -326px -619px;
	width: 50px;
	height: 29px;
}

.ico-arr-enfold{
	background-position: -302px -503px;
	width: 35px;
	height: 20px;
}

.ico-arr-filters{
	background-position: -376px 0;
	width: 64px;
	height: 65px;
}

.ico-arr-flag-blue{
	background-position: -350px -347px;
	width: 28px;
	height: 36px;
}

.ico-arr-link-prev{
	background-position: -392px -569px;
	width: 48px;
	height: 35px;
}

.ico-arr-link{
	background-position: -252px -603px;
	width: 51px;
	height: 41px;
}

.ico-arr-next{
	background-position: -202px -600px;
	width: 30px;
	height: 51px;
}

.ico-arr-open-white{
	background-position: -284px -569px;
	width: 43px;
	height: 25px;
}

.ico-arr-open{
	background-position: -222px -565px;
	width: 51px;
	height: 29px;
}

.ico-arr-prev{
	background-position: -151px -600px;
	width: 29px;
	height: 51px;
}

.ico-arr-right{
	background-position: -117px -566px;
	width: 30px;
	height: 51px;
}

.ico-arr-select{
	background-position: -166px -564px;
	width: 39px;
	height: 26px;
}

.ico-cart{
	background-position: 0 -559px;
	width: 97px;
	height: 80px;
}

.ico-check-gray-small{
  background-position: -397px -354px;
  width: 36px;
  height: 26px;
}

.ico-check-gray{
	background-position: 0 0;
	width: 128px;
	height: 128px;
}

.ico-check{
	background-position: -348px -300px;
	width: 36px;
	height: 26px;
}

.ico-close-blue{
	background-position: -337px -222px;
	width: 52px;
	height: 54px;
}

.ico-close-white{
	background-position: -331px -146px;
	width: 52px;
	height: 54px;
}

.ico-close{
	background-position: -331px -78px;
	width: 52px;
	height: 54px;
}

.ico-fb{
	background-position: -333px 0;
	width: 24px;
	height: 48px;
}

.ico-gear--current{
	background-position: -239px -319px;
	width: 96px;
	height: 96px;
}

.ico-gear{
	background-position: -228px -208px;
	width: 96px;
	height: 96px;
}

.ico-gift{
	background-position: -231px -134px;
	width: 56px;
	height: 57px;
}

.ico-list-menu-current{
	background-position: -198px -451px;
	width: 78px;
	height: 96px;
}

.ico-list-menu{
	background-position: -96px -449px;
	width: 78px;
	height: 96px;
}

.ico-mailru{
	background-position: -249px -58px;
	width: 62px;
	height: 58px;
}

.ico-phone{
	background-position: -124px -168px;
	width: 88px;
	height: 88px;
}

.ico-pin-menu--current{
	background-position: 0 -453px;
	width: 72px;
	height: 96px;
}

.ico-pin-menu{
	background-position: 0 -350px;
	width: 72px;
	height: 96px;
}

.ico-pin-search{
	background-position: -111px -361px;
	width: 56px;
	height: 72px;
}

.ico-pin-small{
	background-position: -185px -360px;
	width: 34px;
	height: 44px;
}

.ico-reply{
	background-position: -125px -266px;
	width: 78px;
	height: 80px;
}

.ico-search{
	background-position: -300px -433px;
	width: 55px;
	height: 55px;
}

.ico-sms-timer{
	background-position: -136px -93px;
	width: 58px;
	height: 64px;
}

.ico-time{
	background-position: -145px 0;
	width: 84px;
	height: 84px;
}

.ico-user--current{
	background-position: 0 -244px;
	width: 96px;
	height: 96px;
}

.ico-user{
	background-position: 0 -137px;
	width: 96px;
	height: 96px;
}

.ico-vk{
	background-position: -246px 0;
	width: 64px;
	height: 40px;
}

