/*
  Автор - Sergey Popov.
  Сайт автора: http://ourworkspace.ru
  Email: tovarov.piter@gmail.com
  Из Санкт-Петербурга с любовью
*/

/*=== миксины слой ===*/

@import "_mixins/mixin";



/*=== базовый слой ===*/

@import "base/__color";
@import "base/__variable";
@import "base/__normalize";
@import "base/grid";
@import "base/typography";
@import "base/buttons";
@import "base/forms";



/*=== компоненты ===*/
@import "components/header";
@import "components/footer";
@import "components/side-menu";
@import "components/nslider";
@import "components/tab";


/*=== страницы ===*/

@import "pages/layout";
@import "pages/index";
@import "pages/promo";
@import "pages/apply";
@import "pages/balli";
@import "pages/modal";
@import "pages/basket";
@import "pages/cabinet";
@import "pages/category";
@import "pages/contacts";
@import "pages/how-we-work";
