.apply{
  text-align: center;

  &__text{
    font-size: 26px;
    line-height: 36px;
    margin: 0;
    opacity: .8;
    margin: 10px 0 30px;
  }

  .btn{
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 30px;
  }

  input{
    font-size: 28px;
    line-height: 28px;
    padding: 0px 10px 0px 105px;
    height: 100px;
    margin: 0;
    margin-bottom: 20px;
  }

  &__form{
    position: relative;

    &::before{
      position: absolute;
      top: 33px;
      left: 25px;
      content: "+7";
      font-size: 28px;
      line-height: 36px;
      padding-right: 25px;
      border-right: 2px solid #bfbfbf;
    }
  }

  &__form-text{
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    opacity: .6;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
