.user-block {
	padding: 30px 5%;
	border-bottom: 1px solid #e8e8e8;

	&__image{
    width: 22.2%;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
  }

  &__name{
    margin: 0;
    margin-left: 28%;
    padding-top: 4px;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 12px;
    font-weight: 600;
  }

  &__balls{
    margin: 0;
    margin-left: 160px;
    font-size: 24px;
    line-height: 34px;
    color: transparentize(#333, 0.5);
    font-weight: 400;

    span{
      font-size: 28px;
      color: #333;
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
    }
  }
}

.user-navigation {
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;

  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }

  &__list-item {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    border-right: 1px solid #e8e8e8;

    &:last-child {
      border-right: none;
    }
  }

  &__link {
    display: block;
    padding: 5px 0;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
  }
}

.user-address {
  padding-bottom: 25px;
  background-color: #f4f4f4;

  &__title {
    margin: 0;
    padding: 24px 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #333;
  }
}

.address {
  position: relative;
  margin-bottom: 35px;
  padding: 50px 80px 45px 60px;
  background-color: $l-blue;

  &__type {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #4b5b6f;
    opacity: .9;
  }

  &__text {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 44px;
    color: #333;
    opacity: .5;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: -14px;
  }

  &__close-icon {
    display: block;
  }
}

.new-address-form {
  padding: 30px 25px;
  padding-bottom: 40px;
  background-color: #fff;
  border-radius: 5px;

  &__title {
    margin: 0;
    margin-bottom: 27px;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #333;
    opacity: .9;
  }

  input[type="text"] {
    margin-bottom: 20px;
    padding: 20px 25px;
    font-size: 28px;
    line-height: 38px;
    border: 1px solid $bb;
  }

  textarea {
    margin-bottom: 40px;
    padding: 22px 25px;
    height: 160px;
    font-size: 28px;
    line-height: 38px;
    border: 1px solid $bb;
    outline: none;
  }

  .btn--green {
    padding: 27px 45px;
  }
}

.user-history {
  padding-bottom: 10px;
  background-color: #f4f4f4;

  &__title {
    margin: 0;
    padding: 24px 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #333;
  }
}

.order-card {
  margin-bottom: 50px;
  background-color: #fff;
  border: 1px solid #ebeded;
  border-radius: 6px;

  &__info {
    position: relative;
    padding: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid $bb;
  }

  &__points {
    position: absolute;
    top: 26px;
    right: 0;
    padding: 15px 20px;
    padding-right: 60px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    background-color: $orange;
    border-radius: 6px 0 0 6px;
  }

  &__icon {
    position: absolute;
    top: 15px;
    right: 18px;
  }

  &__place {
    margin-right: 40%;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
    line-height: 62px;
  }

  &__date {
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    color: #333;
  }

  &__total {
    position: relative;
    padding-right: 40%;
    font-size: 32px;
    line-height: 58px;
    color: #333;

    .amount {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 700;
    }
  }

  &__items-list {
    position: relative;

    &.active {

      .order-card__list {
        display: block;
      }
    }
  }

  &__list-toggle {
    padding: 32px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #959595;
    background-image: url("../img/ico/ico-arr-down.png");
    background-repeat: no-repeat;
    background-position: top 46px right 50px;
    opacity: .5;
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    background-color: #fff;
    border-top: 1px solid $bb;
    border-radius: 0 0 6px 6px;
    z-index: 1;
  }

  &__list-item {
    padding: 10px 5%;
  }

  &__reorder {
    display: block;
    padding: 25px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    color: #fff;
    background-color: $green;
    border: none;
    outline: none;
    border-radius: 0 0 6px 6px;
  }
}

.general-info {
  background-color: #f4f4f4;

  &__block-title {
    margin: 0;
    padding: 24px 5%;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #333;
  }

  &__block {
    background-color: #fff;
    border-top: 1px solid $bb;
    border-bottom: 1px solid $bb;

    &--badges {
      padding: 32px 5%;
      padding-bottom: 12px;
    }
  }

  &__add-card {
    padding: 32px 5%;
  }

  &__badges {
    margin-right: -2%;
    font-size: 0;
  }

  .btn--add-card {
    position: relative;
    padding-left: 87px;
    padding-top: 27px;
    padding-top: 27px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 45px;
      margin-top: -12px;
      width: 4px;
      height: 24px;
      background-color: #fff;
      border-radius: 2px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 35px;
      margin-top: -2px;
      width: 24px;
      height: 4px;
      background-color: #fff;
      border-radius: 2px;
    }
  }
}

.settings-form {

  &__block-title {
    margin: 0;
    padding: 24px 5%;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #333;
  }

  &__block {
    padding: 28px 5%;
    padding-top: 0;
    background-color: #fff;
    border-top: 1px solid $bb;
    border-bottom: 1px solid $bb;

    &--contacts {
      padding-top: 35px;
    }

    &--social {
      padding-top: 45px;
    }
  }

  &__photo {
    margin-bottom: 35px;
    padding-top: 47px;
    font-size: 0;
  }

  &__current-photo {
    display: inline-block;
    vertical-align: top;
    width: 42%;
  }

  &__edit-photo {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 50px;
    width: 58%;
    text-align: center;
  }

  &__upload-photo {
    position: relative;

    input[type="file"] {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
    }
  }

  &__upload-link {
    display: block;
    margin-bottom: 40px;
    padding: 22px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #a3a3a3;
    background-color: #e5e5e5;
    border-radius: 8px;
  }

  &__delete-photo {
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    line-height: 36px;
    color: #333;
  }

  input[type="text"],
  input[type="password"] {
    margin-bottom: 20px;
    padding: 19px 25px;
    font-size: 28px;
    line-height: 40px;
    border: 1px solid $bb;
  }

  &__checkbox-label {
    position: relative;
    display: block;
    padding-top: 50px;
    padding-left: 70px;
    font-size: 30px;
    line-height: 46px;
    color: #333;

    &:last-child {
      margin-bottom: 24px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50px;
      left: 0;
      width: 36px;
      height: 36px;
      border: 2px solid #ebeded;
      border-radius: 20px;
    }
  }

  input[type="checkbox"]:checked + .settings-form__checkbox-label {

    &:before {
      width: 40px;
      height: 40px;
      background-color: $green;
      background-image: url("../img/ico/ico-check.png");
      background-repeat: no-repeat;
      background-position: 50%;
      border: 2px solid $green;
    }
  }

  .btn {

    &--green {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      padding-top: 28px;
      padding-bottom: 28px;
      width: 78%;
    }

    &--bordered {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      width: 78%;
    }
  }
}

.user-card {
  position: relative;
  padding: 30px 5%;
  border-bottom: 1px solid $bb;

  &__delete {
    position: absolute;
    top: 34px;
    right: 5%;
  }

  &__delete-image {
    display: block;
  }

  &__number {
    padding-left: 80px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #333;
    letter-spacing: 3px;
    background-image: url("../img/mastercard.png");
    background-repeat: no-repeat;
    background-size: contain;

    span {
      font-weight: 400;
      font-size: 30px;
      letter-spacing: 0;
    }
  }
}

.badge {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  margin-right: 2%;
  width: 23%;

  &__image {
    display: block;
    width: 100%;
  }
}

.review-card {
  padding: 35px 5%;
  border-bottom: 1px solid $bb;

  &__info-row {
    position: relative;
    padding-bottom: 35px;
  }

  &__place {
    margin-right: 140px;
    font-size: 0;
  }

  &__place-logo {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    height: auto;
  }

  &__info {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 25px;
    width: 77%;
  }

  &__title {
    font-size: 30px;
    line-height: 58px;
    color: #333;
  }

  &__data {
    font-size: 24px;
    line-height: 30px;
    color: #959595;
  }

  &__star-rating {
    position: absolute;
    bottom: 50px;
    right: 0;
    font-size: 0;
  }

  &__content {
    font-size: 30px;
    line-height: 40px;
    color: #333;
    opacity: .8;
  }
}

.section {

  &.mobile.category {
    padding-top: 40px;
    padding-bottom: 45px;

    .section__title {
      margin-bottom: 10px;
    }

    &:after {
      display: none;
    }
  }
}

.about-us {
  padding-top: 65px;
  padding-bottom: 15px;

  &__title {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 42px;
    line-height: 62px;
    color: #4f555d;
  }

  &__text {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    height: 138px;
    font-size: 26px;
    line-height: 46px;
    color: #4f555d;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to top, #fff, transparent);
    }

    &.full {
      height: auto;

      &:before {
        display: none;
      }
    }
  }

  &__show-more {
    font-size: 26px;
    line-height: 36px;
    color: #4f555d;
  }
}