.search-location {
  padding: 38px 5%;
	background-color: $orange;

  &__field-wrapper {
    position: relative;
    font-size: 0;
    border-radius: 44px;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 26px;
      left: 28px;
      width: 28px;
      height: 36px;
      background-image: url("../img/ico/ico-pin.svg");
      background-size: contain;
    }
  }

  input[type="text"] {
    display: inline-block;
    vertical-align: top;
    padding: 21px 18px;
    padding-top: 19px;
    font-size: 32px;
    line-height: 43px;
    border: none;
    outline: none;

    &.search-location {

      &__street {
        padding-left: 75px;
        width: 63%;
        border-right: 1px solid $bb;
      }

      &__house {
        width: 23%;
        text-align: center;
        border-right: 1px solid $bb;
      }
    }
  }

  &__select-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 21px 18px;
    padding-top: 19px;
    width: 14%;
    font-size: 32px;
    line-height: 43px;
    background-color: #fff;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -7px;
      margin-left: -11px;
      width: 21px;
      height: 14px;
      background-image: url("../img/ico/ico-arr-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 0;
    }
  }

  &__select {
    position: relative;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: .01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none!important;
    z-index: 1;
  }
}

.sorting-block {
  padding: 32px 5%;
  border-bottom: 1px solid $bb;

  .btn--blue {
    position: relative;
    padding-left: 50px;
    padding-right: 0;
    width: 100%;
    line-height: 28px;

    &:before {
      content: "";
      position: absolute;
      top: 27px;
      left: 50%;
      margin-left: -190px;
      width: 33px;
      height: 33px;
      background-image: url("../img/ico/ico-filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.category-card {
  position: relative;
  padding: 35px 5%;
  padding-top: 40px;
  font-size: 0;
  border-bottom: 1px solid $bb;

  &.recent {
    padding-top: 75px;
  }

  .flag-blue {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 22px;
    padding-right: 45px;
    font-size: 24px;
    line-height: 48px;
    color: $blue;
    background-color: #eff5fb;
    border-radius: 0 0 0 6px;

    &:before {
      content: "";
      position: absolute;
      top: 16px;
      right: 24px;
      width: 14px;
      height: 18px;
      background-image: url("../img/ico/ico-flag-blue.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__image-block {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }

  &__preorder {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 15px 22px;
    padding-left: 88px;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    color: $blue;
    background-color: #f2f6fb;
    border-radius: 5px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 27px;
      margin-top: -18px;
      width: 36px;
      height: 36px;
      background-image: url("../img/ico/ico-clock.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__info-block {
    display: inline-block;
    vertical-align: top;
    width: 67%;
  }

  &__logo-wrapper {
    position: relative;
    max-width: 85%;
    border-radius: 5px;
    overflow: hidden;
  }

  &__logo {
    display: block;
    width: 100%;
    /* margin: 0 auto; */
  }

  &__opening-soon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    background-color: rgba(0,11,23,.7);
  }

  &__rating-row {
    position: absolute;
    bottom: 35px;
    left: 5%;
  }

  &__star-rating {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #dadada;

    img {
      position: relative;
      display: block;
      z-index: 1;
    }

    .rating {
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 1px;
      display: block;
      background-color: $orange;
      z-index: 0;

      &.one-star {
        width: 20%;
      }

      &.one-and-half-star {
        width: 30.5%;
      }

      &.two-stars {
        width: 40%;
      }

      &.two-and-half-stars {
        width: 50.5%;
      }

      &.three-stars {
        width: 60%;
      }

      &.three-and-half-stars {
        width: 70.5%;
      }

      &.four-stars {
        width: 80%;
      }

      &.four-and-half-stars {
        width: 91.5%;
      }

      &.five-stars {
        width: 98.5%;
      }
    }
  }

  &__reviews {
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #959595;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #333;
  }

  &__type {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #959595;
  }

  &__row {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0;
  }

  &__distance {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    padding-left: 35px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #959595;

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 17px;
      height: 22px;
      background-image: url("../img/ico/ico-pin.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__visa {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 47px;
    height: 28px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__mastercard {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 47px;
    height: 28px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__info-table {
    width: 100%;

    th {
      width: 33.3%;
      text-align: left;
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: $blue;
    }

    td {
      font-weight: 400;
      font-size: 30px;
      line-height: 52px;
      color: #333;
    }
  }
}

.flag-points {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  span {
    position: absolute;
    top: 15px;
    left: -10px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    transform: rotate(-45deg);
    z-index: 2;
  }

  &:before {
    content: "";
    position: absolute;
    top: -71px;
    left: -71px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 46px solid transparent;
    border-bottom: 46px solid $orange;
    transform: rotate(-45deg);
    z-index: 1;
  }
}

.show-more {
  padding: 42px 5%;
  padding-bottom: 48px;
}