.how-we-work {
	padding-top: 40px;
	padding-bottom: 20px;
	background-image: url("../img/bg-how-we-work.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	&__title {
		margin: 0;
		margin-bottom: 5px;
		text-align: center;
		font-weight: 400;
		font-size: 42px;
		line-height: 52px;
		color: #fff;
	}

	#ninja-slider {

		li {
			padding: 30px;

			img {
				display: block;
				margin: 0 auto;
				box-shadow: 0px 0px 45px -2px rgba(0,0,0,0.5);
			}
		}

		#ninja-slider-pager {
      position: absolute;
      bottom: 0;
      left: 50%;
      box-sizing: border-box;
      margin-left: -75px;
			padding: 0;
      width: 130px;
      text-align: center;
      font-size: 0;

      a {
        display: inline-block;
        vertical-align: top;
        margin-left: 7px;
        margin-right: 7px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        box-shadow: none;
        background-color: #fff;
        opacity: .65;

        &.active {
          opacity: 1;
        }
      }
		}
	}
}

.who-we-are {
  padding-top: 65px;
  padding-bottom: 20px;
  background-color: #f4f7fb;

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    color: #333;
  }

  &__text {
    margin: 0;
    margin-bottom: 45px;
    font-size: 27px;
    line-height: 42px;
    color: #4f555d;
  }
}

.advantages {
  padding-top: 73px;
  padding-bottom: 93px;

  &__title {
    margin: 0;
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    color: #333;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    position: relative;
    margin-bottom: 43px;
    padding-left: 100px;
    font-size: 27px;
    line-height: 43px;
    color: #4f555d;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 56px;
      height: 56px;
      background-image: url("../img/ico/ico-check.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .btn--green {
    margin-top: 20px;
    padding: 30px 10px;
    width: 100%;
    font-size: 22px;
    line-height: 30px;
  }
}