.catalog{
  width: 48%;
  height: 217px;
  float: left;
  background: #ccc;
  margin-right: 4%;
  text-align: center;
  position: relative;
  margin-bottom: 20px;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 10;
  }

  &:nth-child(2n+2){
    margin-right: 0;
  }

  @for $i from 1 to 7 {
    &--#{$i} {
      background: url("../img/catalog-#{$i}.jpg") no-repeat center;
      background-size: cover;
    }
  }

  & * {
    position: relative;
    z-index: 20;
  }

  &__title{
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 40px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 45px;
  }

  a{
    text-decoration: none;
  }

  &__picture{

  }
}

// section

.section{
  padding: 60px 0 40px;

  &__title{
    text-align: center;
    font-size: 42px;
    line-height: 50px;
    color: #333;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
  }

  &.instruction &__title,
  &.mobile &__title,
  &.feedback &__title{
    color: #fff;
  }

  &.love &__title{
    color: #333;
  }
}

// big-catalog
.big-catalog{
  background: #f6f7f8;
}

// instruction
.instruction{
  background: #6099d5;
  color: #fff;
  text-align: center;
  padding: 40px;

  &__title{
    font-size: 32px;
    line-height: 34px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 700;
  }

  &__text{
    font-size: 28px;
    line-height: 36px;
    color: #c9e0f7;
    font-weight: 300;
  }
}

// love
.love{
  background: #fff;
  color: #333;

  .instruction__text{
    color: #6e6e6e;
  }
}

// card
.card{
  border: 1px solid #e2e3e4;
  position: relative;
  margin-bottom: 30px;

  &:last-child{
    margin-bottom: 0;
  }

  img{
    width: 100%;
    display: block;
  }

  &__content,
  &__footer{
    padding: 25px 20px;
  }

  &__content{
    background: #fff;
  }

  &__footer{
    background: #fafafa;
    @include clearfix();
  }

  &__title{
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__text{
    margin: 0;
    font-size: 28px;
    line-height: 36px;
    color: #707070;
  }

  &__time{
    float: right;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    opacity: .8;
    font-weight: 600;
    margin: 0;
  }

  &--promo{
    &::before{
      width: 126px;
      height: 126px;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/ico/card-promo.png") no-repeat center;
      content: "";
    }
  }
}

//mobile
.mobile{
  text-align: center;
  color: #fff;
  padding-bottom: 450px;
  position: relative;
  background: #639ad5;

  &__text{
    color: #c7e2ff;
    font-size: 26px;
    line-height: 36px;

    strong{
      color: #f1f1f1;
    }
  }

  &__btn{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;

    img{
      display: block;
    }
  }

  &::after{
    content: "";
    width: 100%;
    height: 365px;
    background: url("../img/bg-mobile.png") no-repeat center top;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

// fast-links
.fast-links{
  text-align: center;

  &__text{
    margin: 0;
    color: #333333;
    opacity: .6;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  &__container{
    @include clearfix();
  }
}

.fast-link{
  display: block;
  text-decoration: none;
  float: left;
  width: 50%;
  margin-bottom: 100px;

  &__image{
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    height: 140px;
    overflow: hidden;
    margin-bottom: 20px;

    img{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title{
    font-size: 32px;
    line-height: 50px;
    color: #333;
  }
}

// feedback
.feedback{
  background: #ffa114;
  text-align: center;

  &__text{
    margin: 0;
    color: #6b4000;
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 40px;
  }

  input{
    border-radius: 500px;
    border: 0;
    background: #fff;
    height: 90px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .btn--orange{
    background: #ffa51f;
    border: 1px solid #fff;
    border-radius: 500px;
  }
}
