.category-title {
	position: relative;
  padding-top: 17px;
  padding-bottom: 21px;
  background-color: #f4f4f4;
  border-bottom: 1px solid $bb;

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -12px;
    width: 14px;
    height: 26px;
    text-decoration: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 26px;
      background-image: url("../img/sprite.png");
      background-repeat: no-repeat;
      background-size: 220px 330px;
    }
  }

  &__prev {
    left: 5%;

    &:before {
      background-position: -76px -300px;
    }
  }

  &__next {
    right: 5%;

    &:before {
      background-position: -101px -300px;
    }
  }

  &__title {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #333;
  }

  &__description {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: #333;
  }
}

.category-items-wrapper {
  padding-bottom: 50px;
}

.category-item {
  padding-top: 32px;
  padding-bottom: 30px;
  font-size: 0;
  border-bottom: 1px solid $bb;

  &__image {
    display: inline-block;
    vertical-align: top;
    width: 44%;
  }

  &__info {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 5%;
    width: 56%;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 28px;
    line-height: 46px;
    color: #333;
  }

  &__ingredients {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    color: #959595;
  }

  &__price-row {
    position: relative;
    margin-top: 25px;
    padding-right: 170px;
    min-height: 60px;

    .btn--green {
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px 22px;
      font-size: 22px;
    }
  }

  &__price {
    font-size: 30px;
    line-height: 60px;
    color: #333;
  }
}