.color-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38,38,38,.45);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  box-sizing: border-box;
  padding: 0 5%;
  padding-top: 45px;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  z-index: 1;

  &.opened {
    display: block;
  }

  &-close {
    position: absolute;
    top: 55px;
    right: 65px;
  }

  &__title {
    margin: 0;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #333;
    opacity: .9;
  }

  &--city {
    top: 20px;
    bottom: 20px;
    left: 4%;
    right: 4%;
    padding: 32px;
    padding-bottom: 0;
    width: 92%;
    height: calc(100% - 40px);
    min-height: auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }

    .modal-close {
      top: 32px;
      right: 32px;
    }
  }

  &--enter {
    padding-bottom: 300px;
    text-align: center;
  }
}

.address-form {

  &__title {
    margin: 0;
    margin-bottom: 35px;
    padding: 0 42px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
  }

  &__input-wrapper {
    position: relative;
  }

  &__pin {
    position: absolute;
    top: 29px;
    right: 23px;
  }

  input[type="text"] {
    margin-bottom: 50px;
    padding: 28px 25px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #333;
    border: 1px solid #e7e7e7;

    &.address-pin {
      margin-bottom: 30px;
      padding-right: 55px;
    }
  }

  input::-webkit-input-placeholder{
    color: #737373;
  }
  input::-moz-placeholde{
    color: #737373;
  }

  .btn {

    &--green {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      font-size: 30px;
      line-height: 50px;
    }
  }
}

.address-history {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__title {
    margin: 0;
    padding: 22px 5%;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    color: #333;
    background-color: #fff;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    position: relative;
    padding: 34px 5%;
    padding-left: calc(5% + 58px);
    background-color: #fafafa;
    border-top: 1px solid #eee;

    span {
      display: block;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__pin {
    position: absolute;
    top: 37px;
    left: 5%;
  }
}

.letters-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    font-weight: 600;
    font-size: 36px;
    line-height: 76px;
    color: $orange;
  }
}

.cities-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    padding: 28px 0;
  }

  &__item-link {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #262626;
  }
}

.enter-form {
  text-align: left;

  &__title {
    margin: 0;
    margin-bottom: 35px;
    padding: 0 42px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
  }

  &__label {
    display: block;
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 48px;
    color: #333;
  }

  input[type="text"],
  input[type="password"] {
    margin-bottom: 32px;
    padding: 28px 25px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #333;
    border: 1px solid #e7e7e7;
  }

  input::-webkit-input-placeholder{
    color: #737373;
  }
  input::-moz-placeholde{
    color: #737373;
  }

  .btn--green {
    margin-top: 18px;
    margin-bottom: 27px;
    padding: 30px 15px;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
  }
}

.retreive-password {
  display: inline-block;
  vertical-align: top;
  font-size: 26px;
  line-height: 42px;
  color: #333;
  opacity: .45;
}

.social-login {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 5%;
  padding-bottom: 35px;
  max-height: 235px;
  font-size: 0;
  background-color: #fafafa;
  border-top: 1px solid $bb;

  &__text {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 36px;
    color: #333;
  }

  &__notice {
    margin-top: 25px;
    font-size: 26px;
    line-height: 36px;
    color: #333;
    opacity: .65;
  }

  &__register {
    color: #333;
  }
}

.login-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-left: 1.45%;
  margin-right: 1.45%;
  margin-bottom: 20px;
  width: 29%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 60px;
  color: #fff;
  border-radius: 8px;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--fb {
    padding-left: 35px;
    background-color: #4c68b3;

    &:before {
      top: 19px;
      margin-left: -58px;
      width: 12px;
      height: 24px;
      background-image: url("../img/ico/ico-fb.svg");
    }
  }

  &--vk {
    padding-left: 45px;
    background-color: #426b9a;

    &:before {
      top: 19px;
      margin-left: -69px;
      width: 32px;
      height: 20px;
      background-image: url("../img/ico/ico-vk-white.svg");
    }
  }

  &--mailru {
    padding-left: 15px;
    background-color: #3688c9;

    &:before {
      top: 16px;
      margin-left: -67px;
      width: 31px;
      height: 29px;
      background-image: url("../img/ico/ico-mailru.png");
    }
  }
}