.restaurant-overview {
	position: relative;
  padding: 35px 5%;
  padding-top: 40px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: cover;

  &__image-block {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }

  &__info-block {
    display: inline-block;
    vertical-align: top;
    width: 67%;
  }

  &__logo-wrapper {
    position: relative;
    max-width: 85%;
    border-radius: 5px;
    overflow: hidden;
  }

  &__logo {
    display: block;
    width: 100%;
    /* margin: 0 auto; */
  }

  &__rating-row {
    position: absolute;
    bottom: 35px;
    left: 5%;
  }

  &__star-rating {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  &__reviews {
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    opacity: .5;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #fff;
  }

  &__type {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    opacity: .5;
  }

  &__row {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0;
  }

  &__distance {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    padding-left: 35px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 17px;
      height: 22px;
      background-image: url("../img/ico/ico-pin.svg");
      background-repeat: no-repeat;
      background-size: contain;
      opacity: .7;
    }
  }

  &__visa {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 47px;
    height: 28px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__mastercard {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 47px;
    height: 28px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__info-table {
    width: 100%;

    th {
      width: 33.3%;
      text-align: left;
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: #fff;
      opacity: .5;
    }

    td {
      font-weight: 400;
      font-size: 30px;
      line-height: 52px;
      color: #fff;
    }
  }
}

.restaurant-navigation {

  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
    border-top: 1px solid $bb;
    border-bottom: 1px solid $bb;
  }

  &__link {
    display: block;
    padding: 33px 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    color: $blue;
  }

  &__list-item {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 33.333333%;
    text-align: center;
    border-left: 1px solid $bb;

    &:first-child {
      border-left: none;
    }

    &.active {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 6px;
        background-color: $blue;
      }

      .restaurant-navigation__link {
        color: #333;
      }
    }
  }
}

.restaurant-menu {
  padding-bottom: 48px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    position: relative;
    display: block;
    padding: 20px 5%;
    padding-right: 10%;
    text-decoration: none;
    font-size: 34px;
    line-height: 62px;
    color: #262626;
    border-bottom: 1px solid $bb;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 5%;
      margin-top: -14px;
      width: 15px;
      height: 28px;
      background-image: url("../img/ico/ico-arr-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .flag-green {
      position: relative;
      display: inline-block;
      vertical-align: top;
      padding: 0 23px;
      color: #fff;
      background-color: $green;
      border-radius: 5px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -60px;
        width: 0;
        height: 0;
        border: 31px solid transparent;
        border-left: 31px solid $green;
      }
    }

    .flag-orange {
      position: relative;
      display: inline-block;
      vertical-align: top;
      padding: 0 23px;
      color: #fff;
      background-color: $orange;
      border-radius: 5px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -60px;
        width: 0;
        height: 0;
        border: 31px solid transparent;
        border-left: 31px solid $orange;
      }
    }
  }

  &__list-item {

    &.unactive {

      &>.restaurant-menu__link {

        &:after {
          margin-top: -8px;
          width: 28px;
          height: 15px;
          background-image: url("../img/ico/ico-arr-open.svg");
        }
      }
    }

    &.active {

      &>.restaurant-menu__link {

        &:after {
          margin-top: -8px;
          width: 28px;
          height: 15px;
          background-image: url("../img/ico/ico-arr-close.svg");
        }
      }
    }
  }
}

.restaurant-info {
  padding: 50px 5%;
  padding-bottom: 20px;


  &__block-title {
    margin: 0;
    font-weight: 300;
    font-size: 48px;
    line-height: 68px;
    color: #333;
  }

  &__text {
    margin-top: 22px;
    margin-bottom: 55px;
    padding-right: 25px;
    font-size: 28px;
    line-height: 36px;
    color: #333;
    opacity: .8;
  }

  &__kitchen {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
    color: #333;
    opacity: .8;
  }
}

.opening-hours-table {
  margin-top: 10px;
  margin-bottom: 45px;
  width: 100%;

  td {
    width: 50%;
    line-height: 56px;
    color: #333;
    opacity: .8;

    &:first-child {
      text-align: left;
      font-size: 28px;
    }

    &:last-child {
      text-align: right;
      font-size: 32px;
    }
  }
}

.payment-options {
  margin-top: 25px;
  margin-bottom: 65px;
  font-size: 0;
}

.payment-option {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  height: 75px;
  width: auto;
}

.review-block {
  padding-bottom: 30px;
  border-bottom: 1px solid $bb;
}

.user-review {
  padding: 30px 5%;
  border-bottom: 1px solid $bb;

  &__info-row {
    font-size: 0;
  }

  &__avatar {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    border-radius: 50%;
  }

  &__info {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 25px;
    width: 58%;
  }

  &__star-rating {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    min-height: 75px;

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__answer {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    min-height: 75px;

    svg {
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 0;
    }
  }

  &__answer-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
  }

  &__name {
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    color: #333;
  }

  &__date {
    font-size: 24px;
    line-height: 36px;
    color: #959595;
  }
}