<div class="side-menu side-menu--login">
  <div class="search-form">
    <form action="/" method="POST">
      <input type="text" placeholder="Найти еду" class="search-form__field">
    </form>
  </div>

  <div class="user-info">
    <img class="user-info__image" src="img/user.jpg" width="128" height="128" alt="">
    <p class="user-info__name">Константин Константинопольский</p>
    <p class="user-info__balls"><span>4800</span> баллов</p>
  </div>

  <div class="select-city">
    <form action="/" method="POST">
      <label for="city" class="select-city__label">Город</label>
      <div class="select-city__field-wrapper">
        <select id="city" class="select-city__field">
          <option value="1">Санкт-Петербург</option>
          <option value="2">Москва</option>
          <option value="3">Казань</option>
          <option value="4">Ориенбург</option>
          <option value="5">Сочи</option>
        </select>
      </div>
    </form>
  </div>
  <div class="select-city">
    <form action="/" method="POST">
      <label for="city" class="select-city__label">Ваш адрес доставки</label>
      <div class="select-city__field-wrapper">
        <select id="city" class="select-city__field">
          <option value="1">ул. Белинского, д.1</option>
          <option value="1">ул. Белинского, д.1</option>
          <option value="1">ул. Белинского, д.1</option>
          <option value="1">ул. Белинского, д.1</option>
          <option value="1">ул. Белинского, д.1</option>
          <option value="1">ул. Белинского, д.1</option>
        </select>
      </div>
    </form>
  </div>

  <nav class="side-nav">
    <ul class="side-nav__list">
      <li class="side-nav__item">
        <a href="" class="side-nav__link">Список ресторанов</a>
      </li>
      <li class="side-nav__item">
        <a href="" class="side-nav__link">Акции</a>
      </li>
      <li class="side-nav__item">
        <a href="" class="side-nav__link">Загрузить приложение</a>
      </li>
      <li class="side-nav__item">
        <a href="" class="side-nav__link">Мой профиль</a>
      </li>

      <li class="side-nav__item">
        <a href="" class="side-nav__link">Выйти</a>
      </li>
    </ul>
  </nav>
</div>
