<div class="side-menu">
  <div class="search-form">
    <form action="/" method="POST">
      <input type="text" placeholder="Найти еду" class="search-form__field">
    </form>
  </div>
  <div class="side-menu__btns">
    <a href="#" class="btn btn--transparent">Вход</a>
    <a href="#" class="btn btn--blue">Регистрация</a>
  </div>
  <div class="select-city">
    <form action="/" method="POST">
      <label for="city" class="select-city__label">Город</label>
      <select id="city" class="select-city__field">
        <option value="1">Санкт-Петербург</option>
        <option value="2">Москва</option>
        <option value="3">Казань</option>
        <option value="4">Ориенбург</option>
        <option value="5">Сочи</option>
      </select>
    </form>
  </div>

  <a href="#" class="btn btn--fluid btn--orange">Указать адрес доставки</a>

  <nav class="side-nav">
    <ul class="side-nav__list">
      <li class="side-nav__item">
        <a href="" class="side-nav__link">Список ресторанов</a>
      </li>
      <li class="side-nav__item">
        <a href="" class="side-nav__link">Акции</a>
      </li>
      <li class="side-nav__item">
        <a href="" class="side-nav__link">Загрузить приложение</a>
      </li>
    </ul>
  </nav>
</div>
