.page-footer{
  padding: 80px 0;

  p, a {
    font-size: 28px;
    line-height: 36px;
    color: #4f555d;
    font-weight: 400;
  }

  &__link{
    display: inline-block;
    vertical-align: top;
    width: 260px;
    margin-right: 30px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 80px;
    min-height: 100px;

    &:nth-child(2){
      margin-right: 0;
    }

    &--1{
      background: url("../img/ico/ico-book.svg") no-repeat left center;
    }

    &--2{
      background: url("../img/ico/ico-gift.svg") no-repeat left top;
    }
  }

  &__nav{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    margin-bottom: 45px;
    margin-right: 60px;

    &:nth-child(4){
      margin-right: 0;
    }

    li{
      margin-bottom: 25px;
    }

    a{
      text-decoration: none;
    }
  }

  &__text{
    margin: 0;
    margin-bottom: 70px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}


// social
.social{
  font-size: 0;
  text-align: center;
  margin-bottom: 70px;

  &__btn{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #a0b7ca;
    position: relative;
    margin: 0 28px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }

    svg{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
