.page-header{
  padding: 41px 0;
  border-bottom: 1px solid $bb;
}

.btn-hamburger{
  margin-top: 10px;
  font-size: 0;
  border: 0;
  background: transparent;
  width: 40px;
  height: 25px;
  margin: 0;
  padding: 0;

  i{
    background: $blue;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    display: block;
    position: relative;
    margin-top: 12px;

    &::before,
    &::after{
      content: "";
      display: block;
      background: $blue;
      width: 40px;
      height: 4px;
      position: absolute;
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    &::before{
      top: -12px;
    }

    &::after{
      bottom: -12px;
    }
  }
}

.cart{
  margin-top: 5px;
  display: block;
}
